* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #eef8ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 15vh;
    background-color: black ;
}

header .active a{
    background-color: rgb(49, 5, 247);
}

.navbar{
    background-color: black ;
    border-radius: 0px;
    height:15%;
    padding: 10px 10px;
    
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float:left;
    list-style: none;
    display:inline-block;
    margin: 13px 10px;
   
    
}

.navbar li a{
    padding :3px 3px;
    text-decoration:none;
    color:white;
}
.navbar li a:hover{
    /*background-color:red;*/
    color:red;
}
